*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    

}
p{
    margin: 15px;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.icon-bar {
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 400px){
.icon-bar {
  position: fixed;
  top: 98%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  }
}
@media screen and (max-width: 400px){
.icon-bar a {
  overflow-y: scroll;
  display: inline-block;
  text-align: center;
  padding: 11px 31px;
  transition: all 0.3s ease;
  color: white;
  font-size: 10px;
  }
}
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
.main-container{
    position: relative;
}
.navbar{
    
    width: 100%;
    height: 25px;
    display: flex;
    position: absolute;
    justify-content: space-around;
}
@media screen and (max-width: 400px) {
  .navbar{
    margin: 35px;
    width: 90%;
    height: 65px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    right: -15px;
  }
}
.navbar .navbar-items{
  margin: 25px;
}
.navbar .navbar-items ul{
    display: flex;
}
.navbar .navbar-items ul li{
    text-transform: capitalize;
    margin: 0 5px;
    display: inline;
}
.navbar .navbar-items ul li a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
  letter-spacing: 3px;
}
.navbar  ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(190, 51, 41);
  display: block;
  margin: auto;
  transition: 0.5s;
}
@media screen and (max-width: 768px){
  .navbar .navbar-items ul li a{
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 3px;
    letter-spacing: 3px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.822);
  }
}
.navbar ul li:hover::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(190, 51, 41);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.fa-solid.fa-flag{
  position:absolute;
  top:15px;
  right:15px;
  font-size: 20px;
}
@media screen and (max-width: 400px) {
  .fa-solid.fa-flag{
    position:absolute;
    top:-15px;
    right:0;
    
  }
}
.logo{
    width: 50px;
    position: absolute;
    left: 5px;
    top: 0;
    cursor: pointer;
}
.logo img{
  width: 120px;
  position: absolute;
  margin: 15px 15px;
  display: inline;
}
@media screen and (max-width: 414px) {
  .logo img{
    width: 40px;
    height: 40px;
    left: -15px;
    top: -15px;
    position: absolute;
    justify-content: center;
    display: inline;
    transition: 3s;
  }
}
@media screen and (max-width: 400px) {
  .logo img{
    width: 40px;
    height: 40px;
    left: -30px;
    top: -30px;
    position: absolute;
    justify-content: center;
    display: inline;
    transition: 3s;
  }
}

.banner-image{
    background: url(/Images/Rosie-Tamaki-03-edit__FocusFillWyIwLjAwIiwiMC4wMCIsMTYwMCw4MjBd.jpg)
    no-repeat center;
    background-size: cover;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
@media screen and (max-width: 400px) {
  .banner-image{
      background: url(/Images/Capture.PNG)
      center no-repeat;
      background-size: cover;
      width: 100%;
      height: 600px;
      justify-content: center;
      align-items: center;
      display: flex;
      }
  }
.banner-content{
    text-align: center;
    font-size: 23px;
    bottom: -200px;
    left: -520px;
    margin: 0px 15px;
    align-items: center;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 5px;
    transition: ease-in-out;
    transition-property: font-size;
    transition-duration: 5s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.822);
}
@media screen and (max-width: 700px){
  .banner-content{
    text-align: center;
    font-size: 10px;
    margin: 0px 15px;
    align-items: center;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 5px;
    transition: ease-in-out;
    transition-property: font-size;
    transition-duration: 3s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.274);
    }
  }
@media screen and (max-width: 1380px){
  .banner-content{
    text-align: center;
    font-size: 20px;
    margin: 0px 15px;
    bottom: -250px;
    left: 0px;
    align-items: center;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 5px;
    transition: ease-in-out;
    transition-property: font-size;
    transition-duration: 5s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
    }
  }

.banner-content h1{
  text-transform: uppercase;
    line-height: 38px;
  
    
}



.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.service, .deff-locations{
    padding: 4% 5%;
    text-align: center;
}
.service{
  position: relative;
  color: steelblue;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 1.5s;
  transition-property: font-size;
  transition-duration: 5s;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
}
@media screen and (max-width: 700px) {
  .service{
    position: relative;
    color: steelblue;
    font-weight: 400;
    font-size: 10px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 1.5s;
    transition-property: font-size;
    transition-duration: 5s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
    
  }
}
@media screen and (max-width: 1639px){
    iframe {
        width: 50%;
      }
    }
@media screen and (max-width: 700px){
iframe {
    width: 100%;
  }
}
*{
    box-sizing: border-box;
}
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 5%;
  }
  
  /* Create two columns that float next to eachother */
  .column1 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }     
  /* Clear floats after the columns */
  .rows1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column1, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  
}
.Parallax1{
    background: url(/Images/Elysha.jpg);
    height: 200px;
    
}
.Parallax1{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Heading h2{
  width: 100%;
  
}
.Heading h2{
    position: absolute;
    top: 88%;
    text-transform: uppercase;
    letter-spacing: 5px;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 80px;
    line-height: 48px;
    transition: 1.5s;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
@media screen and (max-width: 700px){
  .Heading h2{
    margin:-1px 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: steelblue;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 1.5s;
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }
}

.header {
    text-align: center;
    padding: 32px;
}
.header {
    color: #fb2274;
    font-size: 40px;
    
}
.header p{
    color: #000000;
    font-size: 40px;
    
  }
  @media screen and (max-width: 400px){
    .header p{
      margin:10px ;
      position: relative;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-size: 20px;
    }
  }
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    
  }
  
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-bottom: 100px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  
  }
  .column img:hover{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.877);
  transition-duration: 0.2s;
  cursor: pointer;
  }
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;

    }
  }

  .hidden {
    display: none;
  }

  
  .footer-distributed{
    background: rgb(202, 202, 202);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  
  .footer-distributed h3{
    color:  #000000;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  rgb(0, 0, 0);
  }
  
  
  .footer-distributed .footer-links{
    color:  #000000;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #5b9dc5;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #000000;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  rgb(0, 0, 0);
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #000000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #ffffff;
    border-radius: 2px;
  
    font-size: 20px;
    color: #000000;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  .logo1 img{
    width: 150px;
    height: 150px;
    
  }
  @media screen and (max-width: 400px){
    .logo1 img{
      
      width: 120px;
      height: 120px;
    }
  }