*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    

}
p{
    margin: 15px;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.icon-bar {
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 400px){
.icon-bar {
  position: fixed;
  top: 95%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  }
}
@media screen and (max-width: 400px){
.icon-bar a {
  display: inline-block;
  text-align: center;
  padding: 28px;
  transition: all 0.3s ease;
  color: white;
  font-size: 10px;
  }
}
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
.main-container{
    position: relative;
}
.navbar{
    
    width: 100%;
    height: 25px;
    display: flex;
    position: absolute;
    justify-content: space-around;
}
@media screen and (max-width: 400px) {
  .navbar{
    margin: 35px;
    width: 90%;
    height: 65px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    right: -15px;
  }
}
.navbar .navbar-items{
  margin: 20px;
}
.navbar .navbar-items ul{
    display: flex;
}
.navbar .navbar-items ul li{
    text-transform: capitalize;
    margin: 0 10px;
    display: inline;
}
.navbar .navbar-items ul li a{
    color: #fff;
}
.navbar  ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(190, 51, 41);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
@media screen and (max-width: 400px) {
  .fa-solid{

    padding: 0px 15px;
    justify-content: right;
    width: fit-content;
  }
}
.logo{
    width: 50px;
    position: absolute;
    left: 5px;
    top: 0;
    cursor: pointer;
}
.logo img{
  width: 120px;
  position: absolute;
  margin: 9px 10px;
  display: inline;
}

@media screen and (max-width: 400px) {
  .logo img{
    width: 40px;
    height: 40px;
    left: -30px;
    top: -30px;
    position: absolute;
    justify-content: center;
    display: inline;
    transition: 3s;
  }
}

.banner-image{
    background: url(/Images/Wanaka-Header.jpeg)
    no-repeat center;
    background-size: cover;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
}
@media screen and (max-width: 400px) {
.banner-image{
    background: url(/Images/new-zealand-bus-tours-straynz.jpg)
    center;
    background-size: cover;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    }
}
.banner-content{
    text-align: center;
    font-size: 23px;
    margin: 0px 15px;
    align-items: center;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 5px;
    transition: ease-in-out;
    transition-property: font-size;
    transition-duration: 5s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.274);
}
@media screen and (max-width: 700px){
.banner-content{
  text-align: center;
  font-size: 10px;
  margin: 0px 15px;
  align-items: center;
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 5px;
  transition: ease-in-out;
  transition-property: font-size;
  transition-duration: 5s;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.274);
  }
}

.banner-content h1{
  text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 15px;
    
}
.banner-content {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.658);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.service, .deff-locations{
    padding: 5% 5%;
    text-align: center;
}
.service{
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  
  transition-property: font-size;
  transition-duration: 1s;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
}
@media screen and (max-width: 700px) {
  .service{
    position: relative;
    color: rgb(0, 0, 0);
    
    font-size: 8px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    transition-property: font-size;
    transition-duration: 2s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
    
  }
}

.small-banner{
    background: url(/Images/Haka\ banner.jpg)
    no-repeat center;
    background-size: cover;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.container2 {
    padding: 44px;
  }
  
  .row2:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column-66 {
    float: left;
    width: 50%;
    padding: 20px;
  }
  .column-66 p{
    font-size: 25px;
    line-height: 50px;
    
  }
  .column-69 p{
    
    font-size: 25px;
    line-height: 50px;
    
  }
  @media screen and (max-width: 700px){
  .column-66 p{
    font-size: 15px;
    line-height: 20px;
    }
  }
  
  .column-33 {
    float: left;
    width: 50%;
    padding: 20px;
  }
  
  column-66 h1{
    font-size: 48px;
    
  }
  .button2 {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }

.columnz {
  float: left;
  width: 25%;
  padding: 50px 5px;
  
}

.rowz {margin: 20px 50px;}

/* Clear floats after the columns */
.rowz:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columnz {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .rowz {
    margin: 20px 50px;
    display: block;
  }
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: rgb(202, 202, 202);
  color: rgb(0, 0, 0);
  
}
.card:hover{
  transition: 2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.904);
  padding: 16px;
  text-align: center;
  background-color: rgb(202, 202, 202);
  color: rgb(0, 0, 0);
  
}

.fa i{font-size:10px;
  color: rgb(196, 11, 11);
}

.travel{
    width: 100%;
    height: 50%;
    margin: 0;
    text-align: center;
    justify-content: center;
    


}
.travel img{
    width: 100%;
    height: 80%;

    margin: 0;
    justify-content: center;
    align-items: center;
    
}
.travel-text{
  position: relative;
  color: steelblue;
  font-weight: 400;
  font-size: 40px;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 1.5s;
  transition-property: font-size;
  transition-duration: 5s;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
}
@media screen and (max-width: 400px){
  .travel-text{
    position: relative;
    color: steelblue;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 1.5s;
    transition-property: font-size;
    transition-duration: 5s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
  }
}
.slider{
    margin:50px ;
    position: relative;
    justify-content: center;
    align-items: center;
}
/* Slideshow container */
.slideshow-container {
    width: 50%;
    position: relative;
    margin: auto;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  @media screen and (max-width: 700px){
    .slideshow-container {
      width: 80%;
      position: relative;
      
    }
  }
  .MoreInfomation{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .MoreInfomation p{
  color: #000;
  font-size: 25px;
  line-height: 40px;
  }
  @media screen and (max-width: 700px){
    .MoreInfomation p{
      color: #000;
      font-size: 15px;
      line-height: 20px;
      
    }
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: 30px;
    margin: 20px;
  
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 0px 0px 0;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 0px 0 0 0px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(121, 121, 121, 0.8);
  }

  /* The dots/bullets/indicators */

  .active, .dot:hover {
    background-color: #be3131;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.Parallax1{
    background: url(/Images/stars.jpg);
    height: 200px;
    
}
.Parallax1{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Heading h2{
  width: 100%;
  
}
.Heading h2{
    position: absolute;
    top: 88%;
    text-transform: uppercase;
    letter-spacing: 5px;
    align-items: center;
    text-align: center;
    color: steelblue;
    font-weight: 400;
    font-size: 80px;
    line-height: 48px;
    transition: 1.5s;
    text-shadow: 0 0 10px rgb(97, 97, 97);
}
@media screen and (max-width: 700px){
  .Heading h2{
    margin:-1px 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: steelblue;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 1.5s;
    text-shadow: 0 0 10px rgb(182, 182, 182);
  }
}

.header {
    text-align: center;
    padding: 32px;
}
.header {
    color: #fb2274;
    font-size: 40px;
    
}
.header p{
    color: #000000;
    font-size: 40px;
    
  }
  @media screen and (max-width: 400px){
    .header p{
      margin:10px ;
      position: relative;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-size: 20px;
    }
  }
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    
  }
  
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-bottom: 100px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  
  }
  .column img:hover{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.877);
  transition-duration: 0.2s;
  cursor: pointer;
  }
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;

    }
  }

  .hidden {
    display: none;
  }

  
  .footer-distributed{
    background: rgb(202, 202, 202);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  
  .footer-distributed h3{
    color:  #000000;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  rgb(0, 0, 0);
  }
  
  
  .footer-distributed .footer-links{
    color:  #000000;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #5b9dc5;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #000000;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  rgb(0, 0, 0);
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #000000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #ffffff;
    border-radius: 2px;
  
    font-size: 20px;
    color: #000000;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  .logo1 img{
    
    
    width: 150px;
    height: 150px;
  }
  @media screen and (max-width: 400px){
    .logo1 img{
      
      width: 120px;
      height: 120px;
    }
  }